.birdCard {
    height: 23rem;
    width: 18rem;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 0.25rem 0.25rem 0 gray;
    transition: 0.2s ease-in;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &:hover {
      box-shadow: 0 0.25rem 1rem 0 $vivid-dark-green;
  }
  }
  
  .birdPhotoCard {
    border: 1px solid lighten($color: $vivid-dark-green, $amount: 35);
    width: 100%;
    height: 12rem;
    object-fit:cover;
    border-radius: 8px;
  }

  .birdNameCard {
    color: darken($color: $vivid-dark-green, $amount: 10)
  }

  .scientificNameCard {
    font-style: italic;
    margin: 0;
  }

  .birdDataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .toPageStyle {
    background-color: darken($color: $pale-green, $amount: 15);
    border: none;
    color: white;

    &:hover {
      background-color: $pale-green;
      border: none;
    }
  }

/*** Media queries ***/
/* TABLET */
@media (min-width: 768px) { }

/* DESKTOP */
@media (min-width: 992px) {
  .birdCard {
    height: 24rem;
    width: 20rem;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 0.25rem 0.25rem 0 gray;
    transition: 0.2s ease-in;

    &:hover {
      box-shadow: 0 0.25rem 1rem 0 $vivid-dark-green;
    }

  }

  .birdPhotoCard {
    height: 13rem;
  }
  
 }

/* DESKTOP */
@media (min-width: 1200px) { }