#tableStyle {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color:rgb(241, 191, 144);
    border: solid $dark-grey-green 1px;
    box-shadow: 0px 4px 12px -1px $dark-grey-green;
  }
  
  #tableStyle td, #tableStyle th {
    padding-left: 8rem;
    
  }
  
  #tableStyle tr:nth-child(even){background-color: rgb(199, 128, 88);}
  
  #tableStyle tr:hover {background-color: lighten($color: $dark-coral, $amount: 20)}

  #tableStyle th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 6rem;
    text-align: left;
    background-color: $vivid-dark-green;
    color: white;
  }


  /* INPUT TABLE */

  .addBirdFormStyle {
    margin-top: 4rem;
    background-color: $vanilla;
    align-items: center;
    padding: 2rem;
    border: solid $dark-grey-green 1px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0px 4px 12px -1px $dark-grey-green;

  }

  input, select {
      padding-left: 1rem;
      height: 2rem;
      width: 25rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.3rem;
      border: solid $vivid-dark-green 0.1rem;
      margin: 0.5rem;
  }

  .birdwatchingSpanStyle {
    font-weight: bold;
    color: $dark-grey-green;
    padding: 1rem;
  }
  
  button {
      height: 2rem;
      width: 5rem;
      background-color: $dark-grey-green;
      border: solid $dark-grey-green 0.1rem;
      border-radius: 0.3rem;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-top: 1rem;

      &:hover {
        background-color: $vivid-dark-green;
        border: solid $vivid-dark-green 0.1rem;
      }
  }

  /* BUTTONS */
  .optionButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .editButton {
    width: 7rem;
    border: none;
    background-color: darken($color: $medium-teal, $amount: 20);
    margin-right: 5rem;

    &:hover {
      border: none;
      background-color: lighten($color: $medium-teal, $amount: 5 );
    }
  }

  .deleteButton {
    width: 7rem;
    border: none;
    background-color: lighten($color: $dark-coral, $amount: 10);
    margin-right: 5rem;
    margin-bottom: 1rem;

    &:hover {
      border: none;
      background-color: $medium-coral;
    }
  }