/* INPUT TABLE */

  .addBirdFormStyle {
    height: 74vh;
    margin-top: 4rem;
    background-color: $vanilla;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    border: solid $dark-grey-green 1px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 12px -1px $dark-grey-green;

  }

  input, select {
      padding-left: 1rem;
      height: 2rem;
      width: 22rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.3rem;
      border: solid $vivid-dark-green 0.1rem;
      margin: 0.5rem;
  }

  .birdwatchingSpanStyle {
    font-weight: bold;
    color: $dark-grey-green;
    padding: 1rem;
  }

  .tableTitle {
    width: 25.4rem;
  }
  
  button {
      height: 2rem;
      width: 5rem;
      background-color: $dark-grey-green;
      border: solid $dark-grey-green 0.1rem;
      border-radius: 0.3rem;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-top: 1rem;

      &:hover {
        background-color: $vivid-dark-green;
        border: solid $vivid-dark-green 0.1rem;
      }
  }

  /* BUTTONS */
  .optionButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .editButton {
    width: 7rem;
    border: none;
    margin: 1rem;
    background-color: darken($color: $medium-teal, $amount: 20);

    &:hover {
      border: none;
      background-color: lighten($color: $medium-teal, $amount: 1 );
    }
  }

  .deleteButton {
    width: 7rem;
    border: none;
    background-color: lighten($color: $dark-coral, $amount: 10);
    margin-bottom: 1rem;

    &:hover {
      border: none;
      background-color: $medium-coral;
    }
  }

  .updateButton {
    margin-left: 9.5rem;
    margin-bottom: 1rem;
  }

  /* GLOBAL TABLE STYLE AND QUERIES */
table { 
  box-shadow: 0px 4px 12px -1px $dark-grey-green;
  background: lighten($color: $vivid-dark-green, $amount: 50);
  width: 100%; 
  border-collapse: collapse; 
}

tr:nth-of-type(odd) { 
  background: lighten($color: $vivid-dark-green, $amount: 30); 
}

th { 
  background: darken($color: $dark-grey-green, $amount: 10); 
  color: white; 
  font-weight: bold;
}

td, th { 
  padding: 6px; 
  text-align:center;
}

.inputEditMode {
  margin-left: 18rem;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	td { 
		border: none;
		position: relative;
		padding-left: 50%; 
    text-align: left;
	}
  
	td:before { 

		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;

  }

  .inputEditMode {
    margin-left: 1.5rem;
  }

  .updateButton {
    margin-left: 20rem;
    margin-bottom: 1rem;
  }
  

	td:nth-of-type(1):before { content: "Usuario"; }
	td:nth-of-type(2):before { content: "Ave"; }
	td:nth-of-type(3):before { content: "Localización"; }
	td:nth-of-type(4):before { content: "Fecha"; }
	td:nth-of-type(5):before { content: "Hora"; }
  td:nth-of-type(6):before { content: "Opciones"; }
}