.commentStyle {
    background-color: $vanilla;
    padding-top: 2rem;
    padding-left: 2rem;
    height: 200px;
    color: $dark-grey-green;

}
.commentName {
    font-weight: bold;
}

.commentContent {
    text-align: justify;
}

.commentButton {
    margin-left: 10rem;
    margin-bottom: 2rem;
}

/*** Media queries ***/
/* TABLET */
@media (min-width: 768px) { }

/* DESKTOP */
@media (min-width: 992px) {
    .commentStyle {
        padding-top: 2rem;
        padding-left: 10rem;
        height: 200px;
        background-color: $vanilla;
        color: $dark-grey-green;

    }

    .commentButton {
        margin-left: 38rem;
        margin-bottom: 2rem;
    }
 }

/* DESKTOP */
@media (min-width: 1200px) { }


