.commentStyle {
    padding-top: 2rem;
    padding-left: 2rem;
    height: 200px;
    background-color: $vanilla;
    color: $dark-grey-green;

}

.commentName {
    font-weight: bold;
}

.commentContent {
    text-align: justify;
}

/*** Media queries ***/
/* TABLET */
@media (min-width: 768px) { }

/* DESKTOP */
@media (min-width: 992px) {
    .commentStyle {
        padding-top: 2rem;
        padding-left: 10rem;
        height: 200px;
        background-color: $vanilla;
        color: $dark-grey-green;

    }
 }

/* DESKTOP */
@media (min-width: 1200px) { }


