/*** HOME ***/
.heroContainer {
    position: relative;
    width: 100%;
}

.heroImage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.heroEffect {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.heroContainer:hover .heroImage {
    opacity: 0.3;
}

.heroContainer:hover .heroEffect {
      opacity: 1;
}

.heroText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 10rem;
    background-color: $dark-grey-green;
    color: $cream;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

/*** Text Box ***/

.heroTextBox {
    margin: 0;
    height: 18rem;
    background-color: $vivid-dark-green;
    color: $cream;
    display: flex;
    align-items: center;
    text-align:center;
    padding: 2rem;
}

/*** Media queries ***/
/* TABLET */
@media (min-width: 768px) { }

/* DESKTOP */
@media (min-width: 992px) {
    .heroImage {
        opacity: 1;
        display: block;
        width: 100%;
        height: 45rem;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .heroText {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80rem;
        height: 30rem;
        background-color: $dark-grey-green;
        color: $cream;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 20px;
    }
 }

/* DESKTOP */
@media (min-width: 1200px) { }

