nav {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 55px;
    background: linear-gradient(45deg, #061C03, #0B3006);
}

.logoStyle {
    height: 3rem;
    width: 3rem;
    display: flex;
    margin-left: 0.5rem;
}

.list {
    list-style-type: none;
    background: linear-gradient(45deg, #061C03, #0B3006);
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.linkList {
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
}

.items {
    margin-right: 20px;
    font-size: 18px;
    padding: 1rem;
    font-weight: bold;
    color: $vanilla;
    cursor: pointer;

    &:hover {
        text-shadow: 1px 1px 2px $vanilla;
    }
}

.items a:visited {
    color: $vanilla;
}

.btn {
    background-color: $vivid-dark-green;
    border: none;
    display: none;
    position: absolute;
    right: 0.6rem;
    bottom: 0.6rem;
    color: $vanilla;
    font-size: 18px;
}


@media screen and (max-width: 500px){

    .logoStyle {
        display: none;
    }
    
    .list {
        flex-direction: column;
        height: auto;
    }

    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }

    .linkList {
        margin-left: 28rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 28rem;
    }

    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }

}

@media (min-width: 992px) {
    .linkList {
    margin-left: 28rem;
    display: flex;
    flex-direction: row;
    }

    .items {
        padding: 2rem;
    }
}