.formContainer {
    height: rem;
    width: 100%;
    background-color: darken($color: $vanilla, $amount: 10);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emailInputStyle {
    background-color: white;
    color: grey;
    height: 2rem;
    width: 15rem;
    
    border: solid var(--vivid-dark-green) 1px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButtonStyle {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: var(--vivid-dark-green);
    color: white;
    font-weight: bold;
    height: 2.4em;
    width: 6rem;

    border: solid var(--dark-grey-green) 1px;
    border-radius: 7px;
    
    padding-right: 2rem;

    &:hover {
        background-color: var(--medium-dark-green);
        cursor: pointer;
    }
}
