.loginRegisterCard {
    height: 35rem;
    width: 25rem;
    background-color: $cream;
    color: $dark-grey-green;
    border-radius: 1.5em;
    box-shadow: 2px 6px 15px 0px $vivid-dark-green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardImage {
    background-image: url('../assets/images/LoginRegisterBackground.jpeg');
    background-position: center;
    background-size: cover;
    height: 14rem;
    width: 100%;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    position:static;
}

.loginInputStyle {
    height: 2.5rem;
    width: 20rem;
    margin: 0.7rem;
    border-radius: 5rem;
    border: solid $medium-teal 0.1rem;
    padding-left: 2rem;

}

.formContentWrap {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.loginButtonStyle {
    height: 2.2rem;
    width: 7rem;
    border-radius: 2.5rem;
    border: solid $dark-grey-green 0.1rem;
    background-color: $dark-grey-green;
    color: $pale-green;
    font-weight: bold;
    margin: 2rem;

    padding-right: 1rem;
}

.loginButtonStyle:hover {
    background-color: $vivid-dark-green;
    border: solid $vivid-dark-green 0.1rem;
    cursor: pointer;
}

.loginMessage {
    font-weight: bold;
    padding: 1rem;
}

.registerMessage {
    padding: 0.5rem;
    font-weight: bold;
}

.loginSpanStyle {
    font-size: 0.8rem;
    padding-top: 0.5rem;
}

.inputTextPlaceholders {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}


/*** Media queries ***/
/* TABLET */
@media (min-width: 768px) { }

/* DESKTOP */
@media (min-width: 992px) {

    .loginRegisterCard {
        height: 40rem;
        width: 50rem;
        background-color: $cream;
        color: $dark-grey-green;
        border-radius: 1.5em;
        box-shadow: 2px 6px 15px 0px $vivid-dark-green;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }

    .formContentWrap {
            padding-right: 3.5rem;
    }

    .cardImage {
        background-image: url('../assets/images/LoginRegisterBackground.jpeg');
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 45%;
        border-radius: 0;
        border-top-left-radius: 1.5em;
        border-bottom-left-radius: 1.5em;
        position:static;
    }

    .loginInputStyle {
        height: 2.5rem;
        width: 19rem;
        margin: 0.7rem;
        border-radius: 5rem;
        border: solid $medium-teal 0.1rem;
        padding-left: 2rem;
    }

    .loginButtonStyle {
        height: 2.2rem;
        width: 7rem;
        border-radius: 2.5rem;
        border: solid $dark-grey-green 0.1rem;
        background-color: $dark-grey-green;
        color: $pale-green;
        font-weight: bold;
        margin-top: 1.5rem;
    }

 }

/* DESKTOP */
@media (min-width: 1200px) { }


