/*** SEARCH BAR ***/
.searchFormWrapper {
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dark-coral;
}

.searchInterfaceInput {
    margin-top: 1rem;
    height: 2.5rem;
    width: 15rem;
    background-color: whitesmoke;
    border: solid whitesmoke 1px;
    border-radius: 0.6rem;
}

.selectStyle {
    margin-bottom: 1rem;
    margin-top: 0.8rem;
    height:2.5rem;
    width: 10rem;
    background-color: whitesmoke;
    border: solid whitesmoke 1px;
    border-radius: 0.6rem;
}

.filterSpan {
    margin-top: 1rem;
    color: $vanilla;
    font-weight: bold;
}

.filterBoxesContainer {
    display: flex;
    flex-direction: row;
}

.searchButton {
    height: 2.5rem;
    width: 5rem;
    background-color: $vivid-dark-green;
    color: white;
    border: solid $vivid-dark-green 1px;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    margin-bottom: 1rem;

    &:hover {
        background-color: $medium-dark-green;
        border: solid $medium-dark-green 1px;
    }
}

/*** SHOW BIRDS SPACE ***/
.showBirds {
    height: 100%;
    width: 100%;
    background-color: $vanilla;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showBirds span {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

/*** Media queries ***/
/* TABLET */
@media (min-width: 768px) { }

/* DESKTOP */
@media (min-width: 992px) {

    .searchInterfaceInput {
        height:2.5rem;
        width: 35rem;
    }
    
    .searchButton {
        height: 2.5rem;
        width: 5rem;
    }

    .showBirds {
        height: 100%;
        width: 100%;
        background-color: $vanilla;
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
  }

/* DESKTOP */
@media (min-width: 1200px) { }