.birdCard {
    height: 17rem;
    width: 13rem;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 0.25rem 0.25rem 0 gray;
    transition: 0.2s ease-in;
    padding: 1rem;
  }
  
  .birdCard:hover {
    box-shadow: 0 0.25rem 1rem 0 gray;
  }
  
  .birdCardContainer {
    padding: 2rem;
    
  }

/*** Media queries ***/
/* TABLET */
@media (min-width: 768px) { }

/* DESKTOP */
@media (min-width: 992px) {
  .birdCard {
    height: 22rem;
    width: 20rem;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 0.25rem 0.25rem 0 gray;
    transition: 0.2s ease-in;
    padding: 1rem;

  }
  
 }

/* DESKTOP */
@media (min-width: 1200px) { }
