:root {
    --vivid-dark-green: #355C3E;
    --pale-green: #C6E1CC;
    --medium-pale-green: #80DB94;
    --dark-grey-green: #515C53;
    --medium-dark-green: #62A871;
    --cream: #E6E1BE;
}

/*** Global Styles ***/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--pale-green);
    font-family:'Poppins';
}

/* Container */
.container {
    margin:2rem;
}

/*** Navbar - Links - Logo ***/
.navBarContainer {
    height: 3rem;
    width: 100%;
    background-color: var(--pale-green);
    display:flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--vivid-dark-green);
}

.logoStyle {
    padding-left: 1rem;
}

#openMenu {
    display: none;
}

.openMenuIcon {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding-right: 1rem;
}

.linkUnit a {
    color: var(--dark-grey-green);
    display: block;
    text-align: right;
    margin: 1rem 0;
}

.linkUnit a:hover {
    text-shadow: 2px 2px 3px var(--dark-grey-green);
}

.linkPosition {
    display: none;
    width: 60%;
    padding: 1rem;
    background-color: var(--pale-green);
    position: absolute;
    z-index: 2;
    top: 3rem;
    right: 0;
    height: calc(100vh - 48px);
    border-left: 1px solid var(--vivid-dark-green);
}

.openMenu:checked ~ .linkPosition {
    display: block;
}

/* Footer */
.footerStyle {
    margin: 0;
    height: 5rem;
    width: 100%;
}

/*** Media queries ***/
/* TABLET */
@media (min-width: 768px) { }

/* DESKTOP */
@media (min-width: 992px) {
    .navBarContainer {
        height: 3rem;
        width: 100%;
        background-color: var(--pale-green);
        display:flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid var(--vivid-dark-green);
    }
    
    .linkPosition {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid var(--vivid-dark-green);
        position: static;
        width: 100%;
        height: 3rem;
        padding: 1rem;
    }

    .openMenuIcon {
        display: none;
    }
 }

/* DESKTOP */
@media (min-width: 1200px) { }


