:root {
    --vivid-dark-green: #355C3E;
    --pale-green: #C6E1CC;
    --medium-pale-green: #80DB94;
    --dark-grey-green: #515C53;
    --medium-dark-green: #62A871;
    --cream: #E6E1BE;
    --vanilla: #FFE9B8;
}

/*** Global Styles ***/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--cream);
    font-family:'Poppins';
}

/* Container */
.container {
    margin-left:0;
    margin-right:0;
    box-shadow: 0px 8px 12px -1px var(--vivid-dark-green);
}

/*** Navbar - Links - Logo ***/
.navBarContainer {
    height: 3rem;
    width: 100%;
    background-color: var(--cream);
    display:flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--vivid-dark-green);
}

.logoStyle {
    margin-left: 0.6rem;
    height: 2.1rem;
    width: 2.1rem;
    display: flex; 
}

#openMenu {
    display: none;
}

.openMenuIcon {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding-right: 1rem;

}

.linkUnit a {
    color: var(--dark-grey-green);
    display: block;
    text-align: right;
    margin: 0.8rem 0;
}

.linkUnit a:hover {
    text-shadow: 2px 2px 3px var(--dark-grey-green);
    cursor: pointer;
}

.linkPosition {
    display: none;
    width: 60%;
    padding: 1rem;
    background-color: var(--cream);
    position: absolute;
    z-index: 2;
    top: 3rem;
    right: 0;
    height: calc(100vh - 48px);
    border-left: 1px solid var(--vivid-dark-green);
}

.navbarBlockStyle {
    display: flex;
    flex-direction: row;
}

.openMenu:checked ~ .linkPosition {
    display: block;
}

/* Footer */
.footerStyle {
    margin: 0;
    background-color: black;
    color: var(--cream);
    font-size: 0.8rem;
    height: 3rem;
    width: 100%;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0 1rem;
}

/*** SEARCH PAGE GLOBAL CONFIGURATION ***/
.searchPageImage {
    background-image:url(../assets/images/SearchPageImage.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    margin: 0;
    height:30rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

/*** BIRD PAGE GLOBAL CONFIGURATION ***/
.birdPageWrapper, .birdPageWrapper p{
    height: 100%;
    background-color: var(--vanilla);
    color: var(--vivid-dark-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.birdPageWrapper p {
    padding: 0 2rem;
    text-align: justify;
}

.infoBirdPhoto {
    height: 100%;
    width: 100%;
}

/*** BLOG-ARTICLES PAGE GLOBAL CONFIGURATION ***/
.titleStyle {
    margin: 0;
    background-image: url('../assets/images/LoginRegisterBackground.jpeg');
    color: var(--vanilla);
    font-size: 1.6rem;
    padding: 3rem;
    display: flex;
    align-items: center;
}

.mainBlogStyle {
    background-color: var(--vanilla);
    color: var(--vivid-dark-green);
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.mainEntryStyle {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    background-color: var(--vanilla);
    color: var(--vivid-dark-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;

}

.articleEntryStyle {
    padding-bottom: 1.5rem;
    text-align: justify;
    border-bottom: solid var(--vivid-dark-green) 1px;
    display: flex;
    flex-direction: column;
    width: 70rem;
}

.clickBlogText {
    margin-top: 1rem;
    text-decoration: none;
    color: black;
}

.articlePhoto {
    height: 100%;
    width: 100%;
}

.photoSeparator {
    width: 100%;
    height: 70px;
}

/*** BLOG ENTRY GLOBAL CONFIGURATION ***/
.commentBoxStyle {
    background-color: var(--vanilla);
    border-top: solid var(--vivid-dark-green) 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commentInputStyle {
    height: 5rem;
    width: 25rem;
    padding-bottom: 2rem;
}

.articleSeparator {
    width: 400px;
    height: 70px;
}

/*** USER DASHBOARD GLOBAL CONFIGURATION ***/
.dashboardContainer {
    background-color: var(--vanilla);
    color: var(--dark-grey-green);
    padding: 2rem;
}

.dashboardTextStyle {
    text-decoration: underline;
    padding-bottom: 2rem;
}

.welcomePanelStyle {
    background-color: var(--pale-green);
    box-shadow: 2px 2px 2px var(--dark-grey-green);
    color:black;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
   
}

.profilePhoto {
    height: 5rem;
    width: 5rem;
    border-radius: 3rem;
    margin-right: 6rem;
    margin-bottom: 2.5rem;
}

.userPanelStyle {
    height: 40rem;
    width: 100%;
    margin-top: 1rem;
}

.dashboardInputStyle {
    height: 2rem;
    width: 23rem;
}

/*** Media queries ***/
/* TABLET */
@media (min-width: 768px) { }

/* DESKTOP */
@media (min-width: 992px) {
    .container {
        margin-left:10rem;
        margin-right:10rem;
    }
    
    .navBarContainer {
        height: 3rem;
        width: 100%;
        background-color: var(--cream);
        display:flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid var(--vivid-dark-green);
        padding-right: 2rem;
    }

    .linkPosition {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid var(--vivid-dark-green);
        border-left: 1px solid var(--cream);
        position: static;
        width: 100%;
        height: 3rem;
        padding: 0;
    }

    .openMenuIcon {
        display: none;
    }

    .infoBirdPhoto {
        margin-top: 1rem;
        height: 50%;
        width: 50%;
        border-radius: 7px;
    }


/*** USER DASHBOARD GLOBAL CONFIGURATION ***/

.welcomePanelStyle {
    background-color: var(--pale-green);
    box-shadow: 2px 2px 2px var(--dark-grey-green);
    color:black;
    height: 3rem;
    width: 40rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
   
}

.dashboardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboardInputStyle {
    height: 2rem;
    width: 50rem;
    margin: 0.8rem;
}

.userPanelStyle {
    height: 40rem;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*** BIRD PAGE GLOBAL CONFIGURATION ***/

.infoBirdPhoto {
    padding-top: 2rem;
}

.birdPageWrapper{
    box-shadow: 0px 8px 12px -1px var(--vivid-dark-green);
    height: 100%;
    background-color: var(--vanilla);
    color: var(--vivid-dark-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*** BIRDWATCHING TABLE GLOBAL CONFIGURATION ***/
.birdwatchingPage {
    background-color: var(--vanilla);
    padding: 2rem;
}

/*** BLOG ENTRY GLOBAL CONFIGURATION ***/
.commentBoxStyle {
    background-color: var(--vanilla);
    padding: 1rem;
    border-top: solid var(--vivid-dark-green) 1px;
    box-shadow: 0px 8px 12px -1px var(--vivid-dark-green);
}

.commentInputStyle {
    height: 5rem;
    width: 80rem;
    padding-bottom: 2rem;
}

.commentNameInputStyle {
    height: 2rem;
    width: 80rem;
}

/*** BLOG-ARTICLES PAGE GLOBAL CONFIGURATION ***/

.mainEntryStyle {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: var(--vanilla);
    color: var(--vivid-dark-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;

}

/*** BLOG ENTRY GLOBAL CONFIGURATION ***/
.commentBoxStyle {
    background-color: var(--vanilla);
    padding-left: 2rem;
    border-top: solid var(--vivid-dark-green) 1px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commentInputStyle {
    height: 5rem;
    width: 15rem;
    padding-bottom: 2rem;
}

.articleSeparator {
    width: 400px;
    height: 70px;
}

.commentInputStyle {
    height: 5rem;
    width: 80rem;
    padding-bottom: 2rem;
}
 }

/* DESKTOP */
@media (min-width: 1200px) { }


