/*** Global Styles ***/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: $cream;
    font-family:'Poppins';
}

/* Container */
.container {
    margin-left:0;
    margin-right:0;
    box-shadow: 0px 8px 12px -1px $vivid-dark-green;
}

// Login and register screen view
.loginBackground {
    background: url('../assets/images/LoginBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*** SEARCH PAGE GLOBAL CONFIGURATION ***/
.searchPageImage {
    background-image:url('../assets/images/SearchPageImage.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    margin: 0;
    height:30rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

/*** BIRD PAGE GLOBAL CONFIGURATION ***/
.birdPageWrapper, .birdPageWrapper p{
    height: 100%;
    background-color: $vanilla;
    color: darken($color: $vivid-dark-green, $amount: 15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.birdPageWrapper p {
    padding: 0 2rem;
    text-align: justify;
}

.infoBirdPhoto {
    height: 100%;
    width: 100%;
}

.birdInfo {
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;


}

.birdParagStyle {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.infoBirdSeparator {
    height: 5rem;
    width: 30rem;
}

.birdName {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    width: 22rem;
    background-color: $light-coral;

}

/*** BIRDWATCHING TABLE GLOBAL CONFIGURATION ***/
.birdwatchingPage {
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-image: url('../assets/images/LoginBackground.jpg');
    background-attachment: fixed;
    background-position: center;
}

/*** BLOG-ARTICLES PAGE GLOBAL CONFIGURATION ***/
.titleStyle {
    margin: 0;
    background-image: url('../assets/images/LoginRegisterBackground.jpeg');
    color: $vanilla;
    font-size: 1.6rem;
    padding: 3rem;
    display: flex;
    align-items: center;
}

.mainBlogStyle {
    background-color: $vanilla;
    color: $vivid-dark-green;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.mainEntryStyle {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    background-color: $vanilla;
    color: $vivid-dark-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

}

.returnButton {
    margin-right: 18rem;
    margin-top: 2rem;
}

.articleEntryStyle {
    padding-bottom: 1.5rem;
    text-align: justify;
    border-bottom: solid $vivid-dark-green 1px;
    display: flex;
    flex-direction: column;
}

.clickBlogText {
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    
    &:hover {
        text-shadow: 2px 2px 4px rgba(0,0,0,0.56);
    }
}

.newPost {
    margin: 0;
    height: 2rem;
    width: 8rem;
}

.articlePhoto {
    height: 100%;
    width: 100%;
}

.photoSeparator {
    width: 100%;
    height: 70px;
}

/*** BLOG ENTRY GLOBAL CONFIGURATION ***/
.commentBoxStyle {
    background-color: $vanilla;
    border-top: solid $vivid-dark-green 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commentInputStyle {
    height: 5rem;
    width: 25rem;
    padding-bottom: 2rem;
}

.articleSeparator {
    width: 400px;
    height: 70px;
}

.habitatSpan {
    display: flex;
    flex-direction: column;
}

/*** NEW ENTRY GLOBAL CONFIGURATION ***/
.newArticleForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}

.newArticle {
    background-color: $vanilla;
}

.newArticleBody {
    height: 50rem;
    width: 5rem;
    margin-bottom: 2rem;
}

.uploadImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    width: 60rem;
}

.newArticleInput {
    height: 2rem;
    width: 20rem;
    padding-left: 9rem;
    border: 1px solid $dark-grey-green;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.newArticleSpan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
    font-weight: bold;
}

/*** USER DASHBOARD GLOBAL CONFIGURATION ***/
.dashboardContainer {
    background-color: $vanilla;
    color: $dark-grey-green;
    padding: 2rem;
}

.dashboardTextStyle {
    text-decoration: underline;
    padding-bottom: 2rem;
}

.welcomePanelStyle {
    background-color: $pale-green;
    box-shadow: 2px 2px 2px $dark-grey-green;
    color:black;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
   
}

.profilePhoto {
    height: 5rem;
    width: 5rem;
    border-radius: 3rem;
    margin-right: 6rem;
    margin-bottom: 2.5rem;
}

.userPanelStyle {
    height: 40rem;
    width: 100%;
    margin-top: 1rem;
}

.dashboardInputStyle {
    height: 2rem;
    width: 40vh;
}

/*** Media queries ***/
/* TABLET */
@media (min-width: 768px) { 
    .dashboardInputStyle {
        height: 2rem;
        width: 60vh;
    }
    
}

/* DESKTOP */
@media (min-width: 992px) {
    .container {
        margin-left:10rem;
        margin-right:10rem;
    }
    
    .navBarContainer {
        height: 3rem;
        width: 100%;
        background-color: $cream;
        display:flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid $vivid-dark-green;
        padding-right: 2rem;
    }

    .linkPosition {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid $vivid-dark-green;
        border-left: 1px solid $cream;
        position: static;
        width: 100%;
        height: 3rem;
        padding: 0;
    }

    .openMenuIcon {
        display: none;
    }

    .infoBirdPhoto {
        margin-top: 1rem;
        height: 50%;
        width: 50%;
        border-radius: 7px;
    }


/*** USER DASHBOARD GLOBAL CONFIGURATION ***/

.welcomePanelStyle {
    background-color: $pale-green;
    box-shadow: 2px 2px 2px $dark-grey-green;
    color:black;
    height: 3rem;
    width: 40rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
   
}

.dashboardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboardInputStyle {
    height: 2rem;
    width: 60vh;
    margin: 0.8rem;
}

.userPanelStyle {
    height: 40rem;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*** BIRD PAGE GLOBAL CONFIGURATION ***/
.birdInfo {
    background-color: lighten($color: $vivid-dark-green, $amount: 50);
    height: 30rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin-bottom: 3rem;

}

.birdParagStyle {
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: justify;
}

.infoBirdPhoto {
    padding-top: 1rem;
}

.birdPageWrapper{
    box-shadow: 0px 8px 12px -1px $vivid-dark-green;
    height: 100%;
    background-color: $vanilla;
    color: darken($color: $vivid-dark-green, $amount: 15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoBirdSeparator {
    height: 5rem;
    width: 50rem;
}

.birdName {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    width: 40rem;
    background-color: $light-coral;

}

/*** BIRDWATCHING TABLE GLOBAL CONFIGURATION ***/
.birdwatchingPage {
    background-color: $vanilla;
    padding: 2rem;
}

/*** BLOG ENTRY GLOBAL CONFIGURATION ***/
.commentBoxStyle {
    background-color: $vanilla;
    padding: 1rem;
    border-top: solid $vivid-dark-green 1px;
    box-shadow: 0px 8px 12px -1px $vivid-dark-green;
}

.commentInputStyle {
    height: 5rem;
    width: 80rem;
    padding-bottom: 2rem;
}

.commentNameInputStyle {
    height: 2rem;
    width: 80rem;
}

/*** BLOG-ARTICLES PAGE GLOBAL CONFIGURATION ***/

.mainEntryStyle {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: $vanilla;
    color: $vivid-dark-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;

}

/*** BLOG ENTRY GLOBAL CONFIGURATION ***/
.commentBoxStyle {
    background-color: $vanilla;
    padding-left: 2rem;
    border-top: solid $vivid-dark-green 1px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commentInputStyle {
    height: 5rem;
    width: 15rem;
    padding-bottom: 2rem;
}

.articleSeparator {
    width: 400px;
    height: 70px;
}

.commentInputStyle {
    height: 5rem;
    width: 80rem;
    padding-bottom: 2rem;
}

.returnButton {
    margin-right: 73.5rem;
}
 }

/*** NEW ENTRY GLOBAL CONFIGURATION ***/
.newArticleForm {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleSpan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $dark-grey-green;
    font-weight: bold;
    padding-top: 1rem;
}

.newArticle {
    background-color: $vanilla;
}

.newArticleBody {
    height: 50rem;
    width: 60rem;
    margin-bottom: 2rem;
    padding-bottom: 47rem;
    display: flex;
    flex-direction: row;
}

.uploadImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    width: 25rem;
}

.newArticleInput {
    height: 2rem;
    width: 40rem;
    padding-left: 9rem;
    border: 1px solid $dark-grey-green;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.newArticleSpan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
    font-weight: bold;
}
/* DESKTOP */
@media (min-width: 1200px) { }