// Global colors
$vivid-dark-green: #355C3E;
$pale-green: #C6E1CC;
$medium-pale-green: #80DB94;
$dark-grey-green: #515C53;
$medium-dark-green: #62A871;
$medium-teal: #6B997B;
$cream: #E6E1BE;
$vanilla: #FFE9B8;

// Accent colors
$light-coral: #FF9778;
$medium-coral: #FF7358;
$dark-coral: #6E3226;
$vanilla: #FFE9B8;